html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: Helvetica;
  padding: 2em;
  background: -webkit-gradient(radial, center center, 500, center center, 1400, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6))) #fff;
  background: -webkit-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  box-sizing: border-box;
}
button {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 58px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 0 20px;
}
button:not(:disabled):hover,
button:not(:disabled).active {
  border-color: black;
}
button:not(:disabled):active,
button:not(:disabled).active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}
h1 {
  font-weight: 300;
  margin: 10px 0 24px;
  padding: 0;
  text-align: center;
}
#monitor {
  height: 300px;
  margin-top:
}
.container, #gallery, #options {
  float: left;
}
#gallery img {
  height: 300px;
}
.container {
  padding: 10px;
  background: black;
  border-radius: 4px;
  margin-top: 20px;
}
#options {
  width: 700px
  float: left;
  margin-left: 40px;
}
#options ul li {
  display: inline;
}
/**
 * This will change when the real camera's set up
 * Right now, shooting from my laptop, my head is about 150px wide.
 */
#options ul li img {
  width: 150px;
}
/* Necklace should be smaller */
#options ul li img:last-child {
  width: 70px;
}
