html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: Helvetica;
  padding: 30px 50px;
  background: -webkit-gradient(radial, center center, 500, center center, 1400, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6))) #fff;
  background: -webkit-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  box-sizing: border-box;
  width: 1080px;
  height: 1920px;
  border: 1px dashed #000000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-weight: 300;
  margin: 10px 0 24px;
  padding: 0;
}
h2 {
  font-weight: 300;
  margin-top: 0;
}
h5 {
  font-size: 14px;
  margin: 0 0 30px;
  font-weight: 300;
}

/* Buttons */
button {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 58px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 24px;
}
button:not(:disabled):hover,
button:not(:disabled).active {
  border-color: black;
}
button:not(:disabled):active,
button:not(:disabled).active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}
button.small {
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  float: left;
  display: none;
}

/* Language switcher */
#lang {
  float: right;
  color: blue;
  cursor: pointer;
  position: relative;
  top: -165px;
  left: 40px;
}
#lang span#eng {
  margin-right: 4px;
  border-right: 1px solid #666;
  padding-right: 4px;
}

/* Step 1 */
#step-1 {
  width: 960px;
  line-height: 1.3;
}
#take-photo {
  float: left;
  margin-top: 20px;
  clear: both;
}
#monitor {
  height: 720px;
}
.container {
  width: 960px;
}
.container, #gallery {
  float: left;
}
#gallery {
  margin-top: 24px;
}
.container {
  margin-top: 20px;
}
#timer {
  position: relative;
  font-size: 500px;
  top: -700px;
  left: 340px;
  color: #FFF;
}

/* Step 2 */
#gallery img {
  height: 720px;
}
#personas {
  float: left;
}
#personas p {
  margin: 0 0 28px 0;
  font-size: 20px;
  line-height: 25px;
  color: #444;
}
#draggable-wrapper {
  float: left;
  clear: both;
}
ul#characters {
  list-style-type: none;
  margin: 10px 0 30px 0;
  font-size: 18px;
  padding: 0;
}
ul#characters li {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
}
ul#characters li.active {
  background: blue;
  color: #f7f7f7;
}
p.persona {
  display: none;
}
p.active {
  display: block;
}
li.active {
  display: inline;
}

/* Artwork and items */
section {
  position: relative;
  width: 960px;
}
section img {
  border: 3px solid yellow;
  border-radius: 10px;
  position: absolute;
}
img.ui-draggable-dragging {
  border: 3px solid blue;
}
img.dropped {
  border: none;
  padding: 3px;
}
img.activeItem {
  border: 3px dotted #FFF;
  padding: 0px;
}

section#nobleman {
  height: 639px;
  background: url(../../assets/bg_nobleman.jpg) no-repeat;
}
#nobleman img.obj_1 {
  left: 43px;
  top: 90px;
  height: 314px;
  width: 234px;
}
#nobleman img.obj_2 {
  left: 123px;
  top: 264px;
  width: 122px;
  height: 120px;
}
#nobleman img.obj_3 {
  left: 543px;
  top: 85px;
  width: 385px;
  height: 388px;
}
#nobleman img.obj_4 {
  left: 596px;
  top: 271px;
  width: 66px;
  height: 128px;
}

section#scribe {
  height: 391px;
  background: url(../../assets/bg_scribes.jpg) no-repeat;
}

section#baller {
  height: 573px;
  background: url(../../assets/bg_ballers.jpg) no-repeat;
}
#baller img.obj_1 {
  height: 114px;
  width: 197px;
  left: 19px;
  top: 76px;
}
#baller img.obj_2 {
  width: 213px;
  height: 202px;
  left: 487px;
  top: 105px;
}
#baller img.obj_3 {
  width: 180px;
  height: 140px;
  left: 760px;
  top: 72px;
}
#baller img.obj_4 {
  width: 148px;
  height: 152px;
  left: 345px;
  top: 255px;
}
#baller img.obj_5 {
  width: 48px;
  height: 102px;
  left: 530px;
  top: 310px;
}

section#soldier {
  height: 395px;
  background: url(../../assets/bg_soldiers.jpg) no-repeat;
}

section#noblewoman {
  height: 594px;
  background: url(../../assets/bg_noblewoman.jpg) no-repeat;
}
#noblewoman img.obj_1 {
  height: 121px;
  width: 119px;
  left: 88px;
  top: 37px;
}

/* Edit tools */
#toolbox {
  display: none;
  width: 150px;
  height: 150px;
  color: #FFFFFF;
  font-weight: bold;
  opacity: .75;
  background: #000000;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  float: left;
  position: relative;
  top: -300px;
  left: -100px;
  border: 3px solid #555;
}
#toolbox div:first-child {
  padding-top: 12px;
}
#toolbox div {
  padding: 0 0 4px 0;
}
#toolbox div:hover {
  color: orange;
}
span#close {
  background: #888;
  padding: 0px 7px;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
  left: 70px;
  top: -10px;
}

/* Effects */
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
