@font-face {
  font-family: "Univers39-UltraCondensedThin";
  src: local("Univers39-UltraCondensedThin"),
  url(../../assets/fonts/Univers39UltraCondensedThin.ttf);
}
@font-face {
  font-family: "Univers UltraCondensed";
  src: local("Univers 59 Ultra Condensed.ttf"),
  url(../../assets/fonts/Univers 59 Ultra Condensed.ttf);
}
@font-face {
  font-family: "Univers 75 Black";
  src: local("Univers 75 Black.ttf"),
  url(../../assets/fonts/Univers 75 Black.ttf);
}
@font-face {
  font-family: "Serifa Std";
  src: local("SerifaStd-Roman.otf"),
  url(../../assets/fonts/SerifaStd-Roman.otf);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
body {
  background: url(../../assets/theme/bg.jpg) repeat;
  color: rgb(255,255,255);
  font-family: "Serifa Std";
  color: #FFFFFF;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-family: "Univers39-UltraCondensedThin";
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  background: url(../../assets/theme/underline.png) repeat-x 0px 83px;
  font-weight: lighter;
  font-size: 98px;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: rgb(128, 161, 182);
  margin: 0 0 25px 100px;
  width: auto;
  float: left;
  line-height: normal;
}
h1#title {
  margin-top: 190px;
}
h1#who {
  margin: 38px 0 15px 100px;
  font-size: 68px;
  background-position: 0 53px;
}
h2 {
  font-weight: 300;
  margin-top: 0;
}
h5 {
  font-size: 14px;
  margin: 0 0 30px;
  font-weight: 300;
}
.circle {
  background: url(../../assets/theme/circle.png) no-repeat;
  height: 245px;
  width: 245px;
  text-align: center;
  position: relative;
  top: -30px;
  float: right;
  margin-right: 120px;
}
.circle p {
  width: 150px;
  margin: 0 auto 10px;
  position: relative;
  top: 62px;
  font-size: 20px;
}
.circle .action {
  font-family: "Univers 75 Black";
  text-transform: uppercase;
  white-space: nowrap;
}
#step-2 .circle {
  top: -110px;
  margin-right: 180px;
}
#step-2 .circle p {
  top: 72px;
  font-size: 18px;
}

/* Buttons */
#buttons {
  margin: 12px 0 0 20px;
  float: left;
}
div.button {
  background: linear-gradient(#005a84 40%, #006087 70%);
  border-radius: 3px;
  padding: 15px 58px;
  color: #FFFFFF;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: 0 0 10px #000;
  font-family: "Univers 75 Black";
}
div.button.small {
  font-size: 14px;
  padding: 10px 20px;
  margin: 0 20px 0 0;
  float: left;
  display: none;
}

/* Language switcher */
#lang {
  color: rgba(255,255,255,.5);
  height: 47px;
  font-family: "Univers 75 Black";
  background: url(../../assets/theme/bg_header.png) repeat-x;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  width: 100%;
}
#lang span {
  position: relative;
  top: -3px;
}
#lang span.selected {
  color: rgba(255, 255, 255, 1);
}
#lang img {
  position: relative;
  top: 8px;
  margin: 0 10px;
}
span#spanish {
  margin-right: 20px;
}

/* Step 1 */
p.intro {
  clear: both;
  margin: 0 0 0 100px;
  width: 540px;
  float: left;
  font-size: 19px;
}
#app-wrap {
  background: #262626;
  float: left;
  padding: 50px 30px 700px;
  margin: 0 20px;
  box-shadow: 0 0 30px #000;
}
#take-photo {
  float: left;
  margin-top: 20px;
  clear: both;
}
#monitor {
  height: 720px;
}
.container {
  width: 960px;
  border: 10px solid #FFFFFF;
  height: 720px;
  box-shadow: 0 0 30px #000;
}
#gallery {
  margin-top: 24px;
}
#timer {
  position: relative;
  font-size: 400px;
  top: -680px;
  left: 340px;
  color: #FFF;
  font-family: "Univers 75 Black";
  text-shadow: 1px 1px 20px #000;
}

/* Step 2 */
#tab-wrap {
  clear: both;
  float: left;
  width: 960px;
  background: #262626;
  margin: -80px 60px 0;
  box-shadow: 1px 1px 20px #000;
  padding-bottom: 300px;
}
#gallery img {
  height: 720px;
}
p.persona {
  margin: 0;
  padding: 40px;
  font-size: 17px;
}
#draggable-wrapper {
  float: left;
  clear: both;
}
ul#characters {
  list-style-type: none;
  margin: 0;
  font-size: 18px;
  padding: 0;
  border-radius: 6px 6px 0 0;
  width: 960px;
  height: 56px;
}
ul#characters li {
  background: linear-gradient(#333333 0%, #000000 50%);
  padding: 18px 39px 20px;
  text-transform: uppercase;
  font-family: "Univers 75 Black";
  color: rgb(128,161,182);
  float: left;
}
ul#characters li#soldier {
  padding-right: 46px;
}
ul#characters li.active {
  color: #FFFFFF;
  border-radius: 6px 6px 0 0;
  position: relative;
  top: -20px;
  padding-bottom: 40px;
}
p.persona,
section.persona {
  display: none;
}
p.persona:first-of-type,
section.persona:first-of-type {
  display: block;
}
li.active {
  display: inline;
}

/* Artwork and items */
#step-2 section {
  position: relative;
  width: 960px;
}
section img {
  border: 3px solid yellow;
  border-radius: 10px;
  position: absolute;
}
img.ui-draggable-dragging {
  border: 3px solid blue;
}
img.dropped {
  border: none;
  padding: 3px;
}
img.activeItem {
  border: 3px dotted #FFF;
  padding: 0px;
}

section#nobleman {
  height: 495px;
  background: url(../../assets/bg_nobleman.jpg) no-repeat;
}
#nobleman img.obj_1 {
  left: 51px;
  top: 26px;
  height: 304px;
  width: 224px;
  z-index: 2;
}
#nobleman img.obj_2 {
  left: 122px;
  top: 196px;
  width: 122px;
  height: 120px;
  z-index: 3;
}
#nobleman img.obj_3 {
  left: 541px;
  top: 17px;
  width: 385px;
  height: 388px;
  z-index: 1;
}
#nobleman img.obj_4 {
  left: 596px;
  top: 203px;
  width: 66px;
  height: 128px;
  z-index: 4;
}

section#scribe {
  height: 401px;
  background: url(../../assets/bg_scribes.jpg) no-repeat;
}
#scribe img.obj_1 {
  width: 123px;
  height: 130px;
  left: 205px;
  top: 41px;
}
#scribe img.obj_2 {
  width: 306px;
  height: 163px;
  left: 551px;
  top: 40px;
}
#scribe img.obj_3 {
  width: 37px;
  height: 39px;
  left: 250px;
  top: 163px;
}
#scribe img.obj_4 {
  width: 35px;
  height: 34px;
  left: 213px;
  top: 199px;
}
#scribe img.obj_5 {
  width: 36px;
  height: 36px;
  left: 269px;
  top: 232px;
}
#scribe img.obj_6 {
  width: 176px;
  height: 304px;
  left: 45px;
  top: 42px;
}

section#baller {
  height: 490px;
  background: url(../../assets/bg_ballers.jpg) no-repeat;
}
#baller img.obj_1 {
  height: 114px;
  width: 197px;
  left: 20px;
  top: 7px;
}
#baller img.obj_2 {
  width: 213px;
  height: 202px;
  left: 488px;
  top: 36px;
}
#baller img.obj_3 {
  width: 180px;
  height: 140px;
  left: 762px;
  top: 3px;
}
#baller img.obj_4 {
  width: 148px;
  height: 152px;
  left: 342px;
  top: 187px;
}
#baller img.obj_5 {
  width: 48px;
  height: 102px;
  left: 529px;
  top: 243px;
}
#baller img.obj_6 {
  width: 17px;
  height: 20px;
  left: 114px;
  top: 112px;
}

section#soldier {
  height: 526px;
  background: url(../../assets/bg_soldiers.jpg) no-repeat;
}
#soldier img.obj_1 {
  width: 30px;
  height: 42px;
left: 100px;
top: 188px;
}
#soldier img.obj_2 {
  width: 182px;
  height: 232px;
  left: 0px;
  top: 10px;
}
#soldier img.obj_3 {
  width: 178px;
  height: 212px;
  left: 145px;
  top: 18px;
}
#soldier img.obj_4 {
  width: 54px;
  height: 58px;
  left: 676px;
  top: 155px;
}
#soldier img.obj_5 {
  width: 53px;
  height: 80px;
  left: 657px;
  top: 108px;
}
#soldier img.obj_6 {
  width: 209px;
  height: 118px;
  left: 739px;
  top: 11px;
}

section#noblewoman {
  height: 432px;
  background: url(../../assets/bg_noblewoman.jpg) no-repeat;
}
#noblewoman img.obj_1 {
  width: 88px;
  height: 88px;
  left: 41px;
  top: 26px;
}
#noblewoman img.obj_2 {
  width: 167px;
  height: 146px;
  left: 1px;
  top: 116px;
}
#noblewoman img.obj_3 {
  width: 253px;
  height: 179px;
  left: 178px;
  top: 0px;
}
#noblewoman img.obj_4 {
  width: 137px;
  height: 333px;
  left: 176px;
  top: 77px;
}
#noblewoman img.obj_5 {
  width: 15px;
  height: 30px;
  left: 368px;
  top: 90px;
}

/* Edit tools */
#toolbox {
  display: none;
  width: 150px;
  height: 160px;
  color: #FFFFFF;
  font-weight: bold;
  opacity: .90;
  background: #000000;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  float: left;
  position: relative;
  left: 0;
  bottom: 450px;
  border: 3px solid #555;
  font-family: "Univers 75 Black";
}
#toolbox div:first-child {
  padding-top: 12px;
}
#toolbox div {
  padding: 0 0 4px 0;
}
#toolbox div:hover {
  color: orange;
}
span#close {
  background: #888;
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px solid white;
  position: relative;
  left: 70px;
  top: -10px;
}

/* Effects */
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
